<%= render 'shared/error', obj:@article %>
<div class="row">
  <%=form_for( @article,:html=>{class: "form-horizontal", role:'form'}, local: true) do |form| %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>

    <p>
      <%= form.label :description %><br>
      <%= form.text_area :description %>
    </p>

    <p>
      <%= form.submit %>
    </p>
  <%end %>
</div>
<%=link_to 'back to articles', articles_path %>